<head lang="en">
        <title>Onlie Store</title>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Fstore Bootstrap HTML5 eCommerce Template">
        <meta name="author" content="Craftdzine">

        <!-- FAVICON -->
        <link rel="shortcut icon" href="/img/favicon.ico">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!--  STYLE -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- ANIMATE -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- MAGNIFIC POPUP -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <!-- FLEXSLIDER -->
        <link rel="stylesheet" href="/plugins/FlexSlider/jquery.flexslider.css">
        <!--  OWL CAROUSEL -->
        <link rel="stylesheet" href="/plugins/owl-carousel/owl.carousel.css">
        <!-- OWL CAROUSEL THEME -->
        <link rel="stylesheet" href="/plugins/owl-carousel/owl.theme.css">
        <!-- slick -->
        <link rel="stylesheet" type="text/css" href="/css/slick.css">
        <!-- slick-theme -->
        <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">

        <!-- WEB FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
    </head>
