<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
  <div class="wrapper">
    <% include ../partials/header %>

    <%- body %>

    <% include ../partials/footer %>
    <%- script %>
  </div>
  </body>
</html>
