<h3>Add Category</h3>
<br>
<form>
  <div class="form-group">
    <label for="category">Category Name:</label>
    <input type="text" class="form-control" id="category">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-11">
        <label for="subCategory">Sub Categories:</label>
        <input type="text" class="form-control" id="subCategory">
      </div>
      <div class="col-sm-1">
        <button id="addBox" style="margin-top:18px;" class="btn"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="desc">Description:</label>
    <textarea class="form-control" rows="5" id="desc"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
