<!-- Start Breadcrumb -->
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="title"><span>Shopping Cart</span></h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<section class="main-contain bg-white">
    <div class="container">
                    <div class="shopping-cart-block">
                        <ul class="title clearfix">
                            <li class="col-md-2 col-sm-2 col-xs-6">Image</li>
                            <li class="col-md-3 col-sm-3 col-xs-6">Product Name</li>
                            <li class="col-md-2 col-sm-2 col-xs-6">Quantity</li>
                            <li class="col-md-2 col-sm-2 col-xs-6">Unite Price</li>
                            <li class="col-md-2 col-sm-2 col-xs-6">Sub Total</li>
                            <li class="col-md-1 col-sm-1 col-xs-6">Action</li>
                        </ul>
                        <ul class="shopping-cart-cd clearfix">
                            <li class="col-md-2 col-sm-2 col-xs-6"><figure><img src="/img/products/cart1.jpg" alt="" /></figure></li>
                            <li class="col-md-3 col-sm-3 col-xs-6 cd-shopping">
                              <h6>Summer Dress</h6>
                                <p><span>Color:</span> Brown</p>
                                <p><span>Size:</span> 12</p>
                            </li>
                            <li class="col-md-2 col-sm-2 col-xs-6">
                         <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty1();' value='-'>-</button>
                                <input type='text' class="quantity-field" name='qty1' value="5" id='qty1'/>
                                <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty1").value++;' value='+'>+</button>
                            </li>
                            <li class="col-md-2 col-sm-2 col-xs-6">$520.00</li>
                            <li class="col-md-2 col-sm-2 col-xs-6">$520.00</li>
                            <li class="col-md-1 col-sm-1 col-xs-6"><a href="#">X</a></li>
                        </ul>
                        <ul class="shopping-cart-cd clearfix">
                            <li class="col-md-2 col-sm-2 col-xs-6"><figure><img src="/img/products/cart1.jpg" alt="" /></figure></li>
                            <li class="col-md-3 col-sm-3 col-xs-6 cd-shopping">
                              <h6>Summer Dress</h6>
                                <p><span>Color:</span> Brown</p>
                                <p><span>Size:</span> 12</p>
                            </li>
                            <li class="col-md-2 col-sm-2 col-xs-6">
                      <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty3();' value='-'>-</button>
                                <input type='text' class="quantity-field" name='qty3' value="1" id='qty3'/>
                                <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty3").value++;' value='+'>+</button>
                            </li>
                            <li class="col-md-2 col-sm-2 col-xs-6">$520.00</li>
                            <li class="col-md-2 col-sm-2 col-xs-6">$520.00</li>
                            <li class="col-md-1 col-sm-1 col-xs-6"><a href="#">X</a></li>
                        </ul>
                        <ul class="shopping-cart-cd clearfix">
                            <li class="col-md-2 col-sm-2 col-xs-6"><figure><img src="/img/products/cart1.jpg" alt="" /></figure></li>
                            <li class="col-md-3 col-sm-3 col-xs-6 cd-shopping">
                           <h6>Summer Dress</h6>
                                <p><span>Color:</span> Brown</p>
                                <p><span>Size:</span> 12</p>
                            </li>
                            <li class="col-md-2 col-sm-2 col-xs-6">
                        <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty4();' value='-'>-</button>
                                <input type='text' class="quantity-field" name='qty4' value="7" id='qty4'/>
                                <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty4").value++;' value='+'>+</button>

                            </li>
                            <li class="col-md-2 col-sm-2 col-xs-6">$520.00</li>
                            <li class="col-md-2 col-sm-2 col-xs-6">$520.00</li>
                            <li class="col-md-1 col-sm-1 col-xs-6"><a href="#">X</a></li>
                        </ul>
                    </div>
    </div>
</section>
