<h3>Change Password</h3>
<% if(messages.error) { %>
<div class="alert alert-danger" style="<%= messages.error ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.error ? messages.error[0] : '' %></strong></div>
<% } %>

<% if(messages.success) { %>
  <div class="alert alert-success" style="<%= messages.success ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.success ? messages.success[0] : '' %></strong></div>
  <% } %>
<br>
<form id="frmChangePassword" method="Post" action="/users/changePassword">
  <div class="form-group">
    <label for="oldPassword">Old Password:</label>
    <input type="password" placeholder="Enter Old Password" class="form-control" id="oldPassword" name="oldPassword" required="required">
  </div>
  <div class="form-group">
    <label for="newPassword">New Password:</label>
    <input type="password" placeholder="Enter New Password" class="form-control" id="newPassword" name="newPassword" required="required">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" placeholder="Confirm New Password" class="form-control" id="confirmPassword" name="confirmPassword" required="required">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
