<!-- Start Breadcrumb -->
       <div class="page-heading">
           <div class="container">
               <div class="row">
                   <div class="col-sm-12 text-center">
                       <h1 class="title"><span>Login Now</span></h1>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Breadcrumb -->

       <section class="main-contain bg-white">
           <div class="container">
<div class="login-area">
               <div class="tab-content">
                 <div id="login" class="tab-pane fade in active">
                     <div class="login-inner">
                           <div class="title">
                             <h1>Welcome to <span>Login</span></h1>
                         </div>
                         <div class="login-form">
                             <form>
                                 <div class="form-details">
                                     <label class="user">
                                         <input type="text" name="username" placeholder="Username" id="username">
                                     </label>
                                     <label class="pass">
                                         <input type="password" name="passsword" placeholder="Password" id="password">
                                     </label>
                                 </div>
                                 <button type="submit" class="form-btn" onsubmit="">Login</button>
                             </form>
                         </div>
                     </div>
                 </div>
               </div>

   </div>
           </div>
       </section>
        <!-- Start Suvbscribe -->
       <div class="news-subscribe">
           <div class="container">
               <div class="row">
                   <div class="col-md-4">
                       <h3>subscribe to <strong>newsletter</strong></h3>
                   </div>
                   <div class="col-md-4 newsletter-form-block">
                       <div class="input-group">
                           <input type="text" class="form-control" placeholder="Email your email...">
                           <span class="input-group-btn">
                               <button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
                           </span>
                       </div>
                   </div>
                   <div class="col-md-4 col-xs-12">
                       <div class="social-footer">
                           <ul class="social-icons social-icons-simple">
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!--End Suvbscribe -->
