<section class="main-contain bg-white">
           <div class="container">
                <div class="login-area">
                               <div class="tab-content">
                                 <div id="login" class="tab-pane fade in active">
                                     <div class="login-inner">
                                           <div class="title">
                                             <h1>Reset your password</span></h1>
                                         </div>
                                         <% if(messages.error) { %>
                                         <div class="alert alert-danger" style="<%= messages.error ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.error ? messages.error[0] : '' %></strong></div>
                                         <% } %>
                                         <div class="login-form">
                                             <form id="frmResetPassword" method="Post" action="/users/reset-password">
                                                 <input type="hidden" name='userId' id='userId'>
                                                 <div class="form-details">
                                                     <label class="user">
                                                         <input type="password" required="required" name="password" placeholder="Enter strong password" id="password">
                                                     </label>
                                                     <label class="pass">
                                                         <input type="password"  required="required" name="confirmPassword" placeholder="Confirm password" id="confirmPassword">
                                                     </label>
                                                 </div>
                                                 <button type="button" id=btnResetPassword class="form-btn">Submit</button><br>
                                             </form>
                                         </div>
                                     </div>
                                 </div>
                               </div>
                   </div>
           </div>
</section>

<script>
$(document).ready(function() {
  var url,id;
  url = window.location.href;
  id =  url.substr(url.lastIndexOf('/') + 1);
  $('#btnResetPassword').on('click',function() {
    $('input[name=userId]').val(id);
    $('#frmResetPassword').submit();
  })
});

</script>
