<h3>Add Product</h3>
<br>
<form>
  <div class="form-group">
    <label for="pictures">Pictures:</label>
    <input type="file" class="form-control" id="pictures" multiple>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="category">Category:</label>
        <select class="form-control" required="required"  id="category" name="subCategory">
          <option>--Select--</option>
          <% category.forEach(function (category) { %>
              <option value="<%= category._id %>"> <%= category.categoryName %> <%})%> </option>
        </select>
      </div>
      <div class="col-sm-6">
        <label for="subCategory">Sub-Category:</label>
        <select class="form-control" required="required"  id="subCategory" name="subCategory">
          <option>--Select--</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select></div>
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title" required="required">
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="text" class="form-control" id="price" name="price" required="required">
  </div>
  <div class="form-group">
    <label for="brand">Brand:</label>
    <input type="text" class="form-control" id="brand" name="brand" required="required">
  </div>
  <div class="form-group">
    <label for="seller">Seller:</label>
    <input type="text" class="form-control" id="seller" name="seller">
  </div>
  <div class="form-group">
    <label for="brand">Size:</label><br>
    <input type="hidden" id="size" name="size" />
    <label class="checkbox-inline size-check"><input type="checkbox" value="s">S</label>
    <label class="checkbox-inline size-check"><input type="checkbox" value="m">M</label>
    <label class="checkbox-inline size-check"><input type="checkbox" value="l">L</label>
    <label class="checkbox-inline size-check"><input type="checkbox" value="xl">XL</label>
  </div>
  <div class="form-group">
    <label for="desc">Description:</label>
    <textarea class="form-control" rows="4" id="desc" required="required"></textarea>
  </div>
  <button type="button" class="btn btn-success">Submit</button>
</form>
