<!-- Start Breadcrumb -->
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="title"><span>Shopping Store</span></h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- START MAIN CONTAIN -->
<div class="main-contain">
    <div class="container">
        <div class="row">
            <aside>
                <div class="col-md-3 col-sm-12 col-xs-12 sidebar pull-right">
                    <!-- CATEGORIES WIDGET -->
                    <div class="widget mb30">
                        <h6 class="text-uppercase bottom-line">Categories</h6>
                        <ul class="icons-list">
                            <li><a href="#">Fashion <span class="pull-right">12</span></a></li>
                            <li><a href="#">Blogger <span class="pull-right">11</span></a></li>
                            <li><a href="#">Sport <span class="pull-right">10</span></a></li>
                            <li><a href="#">Photography <span class="pull-right">14</span></a></li>
                            <li><a href="#">Popular <span class="pull-right">15</span></a></li>
                        </ul>
                    </div>
                    <!-- END CATEGORIES WIDGET -->

                    <!-- SIDE-BAR PRODUCT WIDGET -->
                    <div class="">
                        <div class="widget mb30">
                            <h6 class="text-uppercase bottom-line">Top Rated</h6>
                        </div>
                        <div class="small-thumb-proudct mb30">
                            <div class="thumb-product">
                                <img class="thumb-product-img img-responsive" src="/img/products/pro1.jpg" alt="">
                                <div class="thumb-product-inner">
                                    <h6><a href="/product/details">Printed Su..</a></h6>
                                    <span class="thumb-product-cat">Fashion</span>
                                </div>
                                <ul class="list-inline overflow-h">
                                    <li class="thumb-product-price line-through">$60.00</li>
                                    <li class="thumb-product-price">$30.00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="small-thumb-proudct mb30">
                            <div class="thumb-product">
                                <img class="thumb-product-img img-responsive" src="/img/products/pro2.jpg" alt="">
                                <div class="thumb-product-inner">
                                    <h6><a href="/product/details">Printed Su..</a></h6>
                                    <span class="thumb-product-cat">Fashion</span>
                                </div>
                                <ul class="list-inline overflow-h">
                                    <li class="thumb-product-price">$65.00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="small-thumb-proudct mb30">
                            <div class="thumb-product">
                                <img class="thumb-product-img img-responsive" src="/img/products/pro3.jpg" alt="">
                                <div class="thumb-product-inner">
                                    <h6><a href="/product/details">Printed Su..</a></h6>
                                    <span class="thumb-product-cat">Fashion</span>
                                </div>
                                <ul class="list-inline overflow-h">
                                    <li class="thumb-product-price line-through">$75.00</li>
                                    <li class="thumb-product-price">$65.00</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END SIDE-BAR PRODUCT WIDGET -->

                    <!-- SIDE-BAR PRODUCT WIDGET -->
                    <div class="">
                        <div class="widget mb30">
                            <h6 class="text-uppercase bottom-line">Best Sellers</h6>
                        </div>
                        <div class="small-thumb-proudct mb30">
                            <div class="thumb-product">
                                <img class="thumb-product-img img-responsive" src="/img/products/pro4.jpg" alt="">
                                <div class="thumb-product-inner">
                                    <h6><a href="/product/details">Printed Su..</a></h6>
                                    <span class="thumb-product-cat">Fashion</span>
                                </div>
                                <ul class="list-inline overflow-h">
                                    <li class="thumb-product-price line-through">$95.00</li>
                                    <li class="thumb-product-price">$75.00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="small-thumb-proudct mb30">
                            <div class="thumb-product">
                                <img class="thumb-product-img img-responsive" src="/img/products/pro5.jpg" alt="">
                                <div class="thumb-product-inner">
                                    <h6><a href="/product/details">Printed Su..</a></h6>
                                    <span class="thumb-product-cat">Fashion</span>
                                </div>
                                <ul class="list-inline overflow-h">
                                    <li class="thumb-product-price line-through">$70.00</li>
                                    <li class="thumb-product-price">$60.00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="small-thumb-proudct mb30">
                            <div class="thumb-product">
                                <img class="thumb-product-img img-responsive" src="/img/products/pro6.jpg" alt="">
                                <div class="thumb-product-inner">
                                    <h6><a href="/product/details">Printed Su..</a></h6>
                                    <span class="thumb-product-cat">Fashion</span>
                                </div>
                                <ul class="list-inline overflow-h">
                                    <li class="thumb-product-price">$65.00</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- END SIDE-BAR PRODUCT WIDGET -->



                </div>
            </aside>

            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="row  hidden-xs">
                    <div class="toolbar">
                        <div class="col-sm-4 category-num">
                            <h2>Men</h2>
                            <small class="category-num-coun">9 Results</small>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <ul class="view-mode">
                            <li class="grid-list-icons">
                                <a href="shop-list-left.html"><i class="fa fa-th-list"></i></a>
                                <a href="shop-grid-left.html"><i class="fa fa-th"></i></a>
                            </li>
                            <li class="sort-list-btn">
                                <h6>Sort By :</h6>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Popularity <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Price Lowest</a></li>
                                        <li><a href="#">Price Highest</a></li>
                                        <li><a href="#">New Arrived</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sort-list-btn">
                                <h6>Show :</h6>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        20 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="category-products col-grid-style">
                    <div class="row clearfix">
                        <div class="row clearfix">
<div class="col-md-4 col-sm-6 col-xs-12">
<div class="products grid-product mb30">
<div class="product-grid-inner">
<div class="product-grid-img">
    <ul class="product-labels">
     <li>Sale</li>
    </ul>
    <a href="/product/details" class="product-grid-img-thumbnail">
        <img src="/img/products/pro2.jpg" alt="img" class="img-responsive primary-img" />
        <img src="/img/products/pro1.jpg" alt="img" class="img-responsive socendary-img" />
    </a>
</div>

<div class="product-grid-caption text-center">
<h6><a class="p-grid-title" href="/product/details">Printed Summer Dress</a></h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<div class="pro-size"><span>XL / XXL / S </span></div>
 <span class="price clearfix"><span class="old-price">$ 150,00</span> $ <span class="special-price">99,99</span></span>
<a class="btn btn-product cd-cart-btn" href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
</div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
<div class="products grid-product mb30">
<div class="product-grid-inner">
<div class="product-grid-img">
    <ul class="product-labels">
     <li>Sale</li>
    </ul>
    <a href="/product/details" class="product-grid-img-thumbnail">
        <img src="/img/products/pro12.jpg" alt="img" class="img-responsive primary-img" />
        <img src="/img/products/pro13.jpg" alt="img" class="img-responsive socendary-img" />
    </a>
</div>

<div class="product-grid-caption text-center">
<h6><a class="p-grid-title" href="/product/details">Printed Summer Dress</a></h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<div class="pro-size"><span>XL / XXL / S </span></div>
 <span class="price clearfix"><span class="old-price">$ 150,00</span> $ <span class="special-price">99,99</span></span>
<a class="btn btn-product cd-cart-btn" href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
</div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
<div class="products grid-product mb30">
<div class="product-grid-inner">
<div class="product-grid-img">
    <ul class="product-labels">
     <li>Sale</li>
    </ul>
    <a href="/product/details" class="product-grid-img-thumbnail">
        <img src="/img/products/pro4.jpg" alt="img" class="img-responsive primary-img" />
        <img src="/img/products/pro3.jpg" alt="img" class="img-responsive socendary-img" />
    </a>
</div>

<div class="product-grid-caption text-center">
<h6><a class="p-grid-title" href="/product/details">Printed Summer Dress</a></h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<div class="pro-size"><span>XL / XXL / S </span></div>
 <span class="price clearfix"><span class="old-price">$ 150,00</span> $ <span class="special-price">99,99</span></span>
<a class="btn btn-product cd-cart-btn" href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
</div>
</div>
</div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
<div class="products grid-product mb30">
<div class="product-grid-inner">
<div class="product-grid-img">
    <ul class="product-labels">
     <li>Sale</li>
    </ul>
    <a href="/product/details" class="product-grid-img-thumbnail">
        <img src="/img/products/pro11.jpg" alt="img" class="img-responsive primary-img" />
        <img src="/img/products/pro12.jpg" alt="img" class="img-responsive socendary-img" />
    </a>
</div>

<div class="product-grid-caption text-center">
<h6><a class="p-grid-title" href="/product/details">Printed Summer Dress</a></h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<div class="pro-size"><span>XL / XXL / S </span></div>
 <span class="price clearfix"><span class="old-price">$ 150,00</span> $ <span class="special-price">99,99</span></span>
<a class="btn btn-product cd-cart-btn" href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
</div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
<div class="products grid-product mb30">
<div class="product-grid-inner">
<div class="product-grid-img">
    <ul class="product-labels">
     <li>Sale</li>
    </ul>
    <a href="/product/details" class="product-grid-img-thumbnail">
        <img src="/img/products/pro13.jpg" alt="img" class="img-responsive primary-img" />
        <img src="/img/products/pro14.jpg" alt="img" class="img-responsive socendary-img" />
    </a>
</div>

<div class="product-grid-caption text-center">
<h6><a class="p-grid-title" href="/product/details">Printed Summer Dress</a></h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<div class="pro-size"><span>XL / XXL / S </span></div>
 <span class="price clearfix"><span class="old-price">$ 150,00</span> $ <span class="special-price">99,99</span></span>
<a class="btn btn-product cd-cart-btn" href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
</div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
<div class="products grid-product mb30">
<div class="product-grid-inner">
<div class="product-grid-img">
    <ul class="product-labels">
     <li>Sale</li>
    </ul>
    <a href="/product/details" class="product-grid-img-thumbnail">
        <img src="/img/products/pro1.jpg" alt="img" class="img-responsive primary-img" />
        <img src="/img/products/pro2.jpg" alt="img" class="img-responsive socendary-img" />
    </a>
</div>

<div class="product-grid-caption text-center">
<h6><a class="p-grid-title" href="/product/details">Printed Summer Dress</a></h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<div class="pro-size"><span>XL / XXL / S </span></div>
 <span class="price clearfix"><span class="old-price">$ 150,00</span> $ <span class="special-price">99,99</span></span>
<a class="btn btn-product cd-cart-btn" href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
</div>
</div>
</div>
</div>

    </div>


                    </div>
                </div>

            </div>
        </div>


  <!-- Start Pagination-->
    <div class="cd-pagination">
    <ul class="pagination">
    <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
    <li  class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <!-- End Pagination-->
    </div>
    </div>
    <!-- END MAIN CONTAIN -->
