<!-- Footer -->
<footer class="page-footer variant4 fullboxed">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4>INFORMATION</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul class="marker-list">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="faq.html">Customer Service</a></li>
                                <li><a href="about.html">Privacy Policy</a></li>
                                <li><a href="blog.html">Our Blog</a></li>
                                <li><a href="search.html">Search Terms</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4>MY ACCOUNT</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul class="marker-list">
                                <li><a href="account-create.html">My account</a></li>
                                <li><a href="login.html">Logination</a></li>
                                <li><a href="cart.html">My cart</a></li>
                                <li><a href="wishlist.html">My wishlist</a></li>
                                <li><a href="search.html">Search Terms</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4>CUSTOMER CARE</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul class="marker-list">
                                <li><a href="blog.html">Our Blog</a></li>
                                <li><a href="search.html">Search Terms</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="faq.html">Customer Service</a></li>
                                <li><a href="about.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4>CONTACT US</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul class="simple-list">
                                <li><i class="icon icon-phone"></i>+01 234 567 89</li>
                                <li><i class="icon icon-close-envelope"></i><a href="mailto:support@seiko.com">support@seiko.com</a></li>
                                <li><i class="icon icon-clock"></i>8:00 - 19:00, Monday - Saturday</li>
                            </ul>
                            <div class="footer-social">
                                <a href="#"><i class="icon icon-facebook-logo icon-circled"></i></a> <a href="#"><i class="icon icon-twitter-logo icon-circled"></i></a> <a href="#"><i class="icon icon-skype-logo icon-circled"></i></a> <a href="#"><i class="icon icon-vimeo icon-circled"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8">
                    <div class="image-banner text-center">
                        <a href="#"> <img src="images/banners/footer-banner.jpg" alt="Footer Banner" class="img-responsive"> </a>
                    </div>
                </div>
                <div class=" col-md-6 col-lg-4">
                    <div class="footer-copyright text-center"> © 2016 Demo Store. All Rights Reserved. </div>
                    <div class="footer-payment-link text-center">
                        <a href="#"><img src="images/payment-logo/icon-pay-1.png" alt=""></a>
                        <a href="#"><img src="images/payment-logo/icon-pay-2.png" alt=""></a>
                        <a href="#"><img src="images/payment-logo/icon-pay-3.png" alt=""></a>
                        <a href="#"><img src="images/payment-logo/icon-pay-4.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->
<a class="back-to-top back-to-top-mobile" href="#">
    <i class="icon icon-angle-up"></i> To Top
</a>