<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Online Store</title>
<meta name="author" content="SEIKO">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="favicon.ico">

<!-- Vendor -->
<link href="js/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="js/vendor/slick/slick.css" rel="stylesheet">
<link href="js/vendor/swiper/swiper.min.css" rel="stylesheet">
<link href="js/vendor/magnificpopup/dist/magnific-popup.css" rel="stylesheet">
<link href="js/vendor/nouislider/nouislider.css" rel="stylesheet">
<link href="js/vendor/darktooltip/dist/darktooltip.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">

<!-- Custom -->
<link href="css/style.css" rel="stylesheet">
<link href="css/megamenu.css" rel="stylesheet">
<link href="css/tools.css" rel="stylesheet">

<!-- Color Schemes -->
<link href="css/style-color-pink.css" rel="stylesheet">
<link href="css/style-color-green.css" rel="stylesheet">
<link href="css/style-color-lightgreen.css" rel="stylesheet">
<link href="css/style-color-blue.css" rel="stylesheet">
<link href="css/style-color-lightblue.css" rel="stylesheet">
<link href="css/style-color-violet.css" rel="stylesheet">
<link href="css/style-color-tomato.css" rel="stylesheet">
<link href="css/style-color-caribbean.css" rel="stylesheet">
<link href="css/style-color-orange.css" rel="stylesheet">

<!-- Icon Font -->
<link href="fonts/icomoon-reg/style.css" rel="stylesheet">


<!-- jQuery Scripts  -->
<script src="js/vendor/jquery/jquery.js"></script>
<script src="js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="js/vendor/swiper/swiper.min.js"></script>
<script src="js/vendor/slick/slick.min.js"></script>
<script src="js/vendor/parallax/parallax.js"></script>
<script src="js/vendor/isotope/isotope.pkgd.min.js"></script>
<script src="js/vendor/magnificpopup/dist/jquery.magnific-popup.js"></script>
<script src="js/vendor/countdown/jquery.countdown.min.js"></script>
<script src="js/vendor/nouislider/nouislider.min.js"></script>
<script src="js/vendor/ez-plus/jquery.ez-plus.js"></script>
<script src="js/vendor/tocca/tocca.min.js"></script>
<script src="js/vendor/bootstrap-tabcollapse/bootstrap-tabcollapse.js"></script>
<script src="js/vendor/scrollLock/jquery-scrollLock.min.js"></script>
<script src="js/vendor/darktooltip/dist/jquery.darktooltip.js"></script>
<script src="js/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="js/vendor/instafeed/instafeed.min.js"></script>
<script src="js/megamenu.min.js"></script>
<script src="js/tools.min.js"></script>
<script src="js/app.js"></script>
